{% extends 'base.html'%}
{% load static %}
{% load i18n %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>{%translate "Welcome to My Online Shop"%}</h1>

    <!-- Featured Products Section -->
    <section class="featured-products">
        <h2>{%translate "Products"%}</h2>
        <div class="product-grid">
            {% for product in products %}
                <div class="product-card">
                    <img src="{{ product.image.all.0.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
			<p>{% blocktranslate with price=product.price %}Price: {{ price }}{% endblocktranslate %}</p>
                    <a href="{% url 'product_detail' product.id %}">{%translate "View Details"%}</a>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
