<!-- product_list.html -->
{% extends 'base.html' %}
{%load static%}
{% block css%}
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
{%endblock%}
{% block title %}Products{% endblock %}

{% block content %}
    <div class="product-page">
        <!-- Categories Sidebar -->
        <aside class="categories-sidebar">
            <h2>Categories</h2>
            <ul>
                {% for category in categories %}
                    <li><a href="{%url 'category_detail' category.id%}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </aside>
    </div>
{% endblock %}
